body {
    margin: 0;
    width: 550px;
    height: 550px;
    background: #1F2937;
    font-family: "Karla", sans-serif;
    padding-left: 52px;
    color: white;
}

h1 {
    font-weight: 800;
    font-size: 40px;
}

p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #D5D4D8;
}

button {
    width: 191px;
    height: 42px;
    background: #10B981;
    color: white;
    box-shadow: 0px 1px 2px 0px #0000000D;
    border: none;
    border-radius: 6px;
    padding: 9px 17px 9px 15px;

}

#green {
    color: #55F991;
}

#line {
    width: 446px;
    border: 1px solid #2f3e53;
    margin-top: 50px;
}

#password-display {
    display: flex;
    color: #55F991;
}
#display1 {
    font-size: 16px;
    font-weight: normal;
}

#display2 {
    margin-left: 27px;
    font-size: 16px;
    font-weight: normal;
}

.display-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 211px;
    height: 39px;
    background: #273549;
    border-radius: 6px;
    margin-top: 50px;
    padding-left: 0px;
}
